@import "reset";
@import "navbar";
@import "cover";
@import "articles";
@import "categories";
@import "footer";

main {
  padding-top: 80px;
}

hr.style-one {
  border: 1px solid rgb(226, 226, 226);
}

.named-section {
  margin: 50px 20px;
  color: #fe4225;

  &__header {
    margin: 20px 0;
  }

  &__title {
    font-family: "Kanit", sans-serif;
    font-size: 27px;
    font-weight: 600;
  }
}

a {
  color: grey;

  &:hover {
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  main {
    padding-top: 110px;
  }
}
